--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO usuario;

--
-- Name: asistencia; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.asistencia (
    id integer NOT NULL,
    trabajador_id integer NOT NULL,
    check_in timestamp without time zone NOT NULL,
    check_out timestamp without time zone,
    ubicacion character varying(200)
);


ALTER TABLE public.asistencia OWNER TO usuario;

--
-- Name: asistencia_id_seq; Type: SEQUENCE; Schema: public; Owner: usuario
--

CREATE SEQUENCE public.asistencia_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.asistencia_id_seq OWNER TO usuario;

--
-- Name: asistencia_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: usuario
--

ALTER SEQUENCE public.asistencia_id_seq OWNED BY public.asistencia.id;


--
-- Name: materiales; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.materiales (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    cantidad_disponible integer NOT NULL,
    id_zona integer NOT NULL
);


ALTER TABLE public.materiales OWNER TO usuario;

--
-- Name: materiales_id_seq; Type: SEQUENCE; Schema: public; Owner: usuario
--

CREATE SEQUENCE public.materiales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.materiales_id_seq OWNER TO usuario;

--
-- Name: materiales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: usuario
--

ALTER SEQUENCE public.materiales_id_seq OWNED BY public.materiales.id;


--
-- Name: reportes; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.reportes (
    id integer NOT NULL,
    tipo character varying(100) NOT NULL,
    contenido text NOT NULL,
    fecha_creacion timestamp without time zone
);


ALTER TABLE public.reportes OWNER TO usuario;

--
-- Name: reportes_id_seq; Type: SEQUENCE; Schema: public; Owner: usuario
--

CREATE SEQUENCE public.reportes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reportes_id_seq OWNER TO usuario;

--
-- Name: reportes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: usuario
--

ALTER SEQUENCE public.reportes_id_seq OWNED BY public.reportes.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    nombrerol character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO usuario;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: usuario
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO usuario;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: usuario
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: solicitudes_materiales; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.solicitudes_materiales (
    id integer NOT NULL,
    trabajador_id integer NOT NULL,
    cantidad integer NOT NULL,
    estado character varying(50),
    fecha_solicitud timestamp without time zone,
    id_zona integer,
    nombre character varying(255) DEFAULT 'Material pendiente'::character varying NOT NULL
);


ALTER TABLE public.solicitudes_materiales OWNER TO usuario;

--
-- Name: solicitudes_materiales_id_seq; Type: SEQUENCE; Schema: public; Owner: usuario
--

CREATE SEQUENCE public.solicitudes_materiales_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.solicitudes_materiales_id_seq OWNER TO usuario;

--
-- Name: solicitudes_materiales_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: usuario
--

ALTER SEQUENCE public.solicitudes_materiales_id_seq OWNED BY public.solicitudes_materiales.id;


--
-- Name: tareas; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.tareas (
    id integer NOT NULL,
    descripcion character varying(200) NOT NULL,
    estado character varying(50),
    trabajador_id integer NOT NULL,
    evidencia text,
    id_zona integer
);


ALTER TABLE public.tareas OWNER TO usuario;

--
-- Name: tareas_id_seq; Type: SEQUENCE; Schema: public; Owner: usuario
--

CREATE SEQUENCE public.tareas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tareas_id_seq OWNER TO usuario;

--
-- Name: tareas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: usuario
--

ALTER SEQUENCE public.tareas_id_seq OWNED BY public.tareas.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(200) NOT NULL,
    rol_id integer NOT NULL,
    intentos_fallidos integer,
    bloqueado_hasta timestamp without time zone,
    activo boolean,
    id_zona integer
);


ALTER TABLE public.usuarios OWNER TO usuario;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: usuario
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO usuario;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: usuario
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: zonas_trabajo; Type: TABLE; Schema: public; Owner: usuario
--

CREATE TABLE public.zonas_trabajo (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text,
    ubicacion character varying(255),
    finalizada boolean NOT NULL
);


ALTER TABLE public.zonas_trabajo OWNER TO usuario;

--
-- Name: zonas_trabajo_id_seq; Type: SEQUENCE; Schema: public; Owner: usuario
--

CREATE SEQUENCE public.zonas_trabajo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.zonas_trabajo_id_seq OWNER TO usuario;

--
-- Name: zonas_trabajo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: usuario
--

ALTER SEQUENCE public.zonas_trabajo_id_seq OWNED BY public.zonas_trabajo.id;


--
-- Name: asistencia id; Type: DEFAULT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.asistencia ALTER COLUMN id SET DEFAULT nextval('public.asistencia_id_seq'::regclass);


--
-- Name: materiales id; Type: DEFAULT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.materiales ALTER COLUMN id SET DEFAULT nextval('public.materiales_id_seq'::regclass);


--
-- Name: reportes id; Type: DEFAULT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.reportes ALTER COLUMN id SET DEFAULT nextval('public.reportes_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: solicitudes_materiales id; Type: DEFAULT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.solicitudes_materiales ALTER COLUMN id SET DEFAULT nextval('public.solicitudes_materiales_id_seq'::regclass);


--
-- Name: tareas id; Type: DEFAULT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tareas ALTER COLUMN id SET DEFAULT nextval('public.tareas_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: zonas_trabajo id; Type: DEFAULT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.zonas_trabajo ALTER COLUMN id SET DEFAULT nextval('public.zonas_trabajo_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.alembic_version (version_num) FROM stdin;
\.


--
-- Data for Name: asistencia; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: materiales; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.materiales (id, nombre, cantidad_disponible, id_zona) FROM stdin;
6	hol	34	20
\.


--
-- Data for Name: reportes; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.reportes (id, tipo, contenido, fecha_creacion) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.roles (id, nombrerol) FROM stdin;
1	administrador
2	arquitecto
3	supervisor
4	trabajador
\.


--
-- Data for Name: solicitudes_materiales; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.solicitudes_materiales (id, trabajador_id, cantidad, estado, fecha_solicitud, id_zona, nombre) FROM stdin;
6	5	6	Pendiente	2025-04-22 03:44:24.061064	9	bhg
5	5	6	Aprobado	2025-04-20 00:39:33.914863	\N	gguhg
\.


--
-- Data for Name: tareas; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: usuario
--



--
-- Data for Name: zonas_trabajo; Type: TABLE DATA; Schema: public; Owner: usuario
--

COPY public.zonas_trabajo (id, nombre, descripcion, ubicacion, finalizada) FROM stdin;
20	universidad	jajajaja	4.799887666426704, -75.68636616511587	t
9	my hoyse	la puta vega	4.801713684843687, -75.69612953499124	t
16	hol	nn	4.811313349221985, -75.68520376109252	t
17	nn		4.820962078561156, -75.68709080841383	t
18	 m		4.818567317366141, -75.69704069428973	t
19	 n		4.818054153155013, -75.68794855719624	t
\.


--
-- Name: asistencia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: usuario
--

SELECT pg_catalog.setval('public.asistencia_id_seq', 7, true);


--
-- Name: materiales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: usuario
--

SELECT pg_catalog.setval('public.materiales_id_seq', 6, true);


--
-- Name: reportes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: usuario
--

SELECT pg_catalog.setval('public.reportes_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: usuario
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, false);


--
-- Name: solicitudes_materiales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: usuario
--

SELECT pg_catalog.setval('public.solicitudes_materiales_id_seq', 6, true);


--
-- Name: tareas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: usuario
--

SELECT pg_catalog.setval('public.tareas_id_seq', 18, true);


--
-- Name: usuarios_id_seq; Type: SEQUENCE SET; Schema: public; Owner: usuario
--

SELECT pg_catalog.setval('public.usuarios_id_seq', 8, true);


--
-- Name: zonas_trabajo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: usuario
--

SELECT pg_catalog.setval('public.zonas_trabajo_id_seq', 20, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: asistencia asistencia_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.asistencia
    ADD CONSTRAINT asistencia_pkey PRIMARY KEY (id);


--
-- Name: materiales materiales_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.materiales
    ADD CONSTRAINT materiales_pkey PRIMARY KEY (id);


--
-- Name: reportes reportes_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.reportes
    ADD CONSTRAINT reportes_pkey PRIMARY KEY (id);


--
-- Name: roles roles_nombrerol_key; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_nombrerol_key UNIQUE (nombrerol);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: solicitudes_materiales solicitudes_materiales_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.solicitudes_materiales
    ADD CONSTRAINT solicitudes_materiales_pkey PRIMARY KEY (id);


--
-- Name: tareas tareas_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT tareas_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: zonas_trabajo zonas_trabajo_pkey; Type: CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.zonas_trabajo
    ADD CONSTRAINT zonas_trabajo_pkey PRIMARY KEY (id);


--
-- Name: asistencia asistencia_trabajador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.asistencia
    ADD CONSTRAINT asistencia_trabajador_id_fkey FOREIGN KEY (trabajador_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: materiales materiales_id_zona_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.materiales
    ADD CONSTRAINT materiales_id_zona_fkey FOREIGN KEY (id_zona) REFERENCES public.zonas_trabajo(id) ON DELETE CASCADE;


--
-- Name: solicitudes_materiales solicitudes_materiales_id_zona_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.solicitudes_materiales
    ADD CONSTRAINT solicitudes_materiales_id_zona_fkey FOREIGN KEY (id_zona) REFERENCES public.zonas_trabajo(id) ON DELETE SET NULL;


--
-- Name: solicitudes_materiales solicitudes_materiales_trabajador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.solicitudes_materiales
    ADD CONSTRAINT solicitudes_materiales_trabajador_id_fkey FOREIGN KEY (trabajador_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: tareas tareas_id_zona_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT tareas_id_zona_fkey FOREIGN KEY (id_zona) REFERENCES public.zonas_trabajo(id) ON DELETE SET NULL;


--
-- Name: tareas tareas_trabajador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT tareas_trabajador_id_fkey FOREIGN KEY (trabajador_id) REFERENCES public.usuarios(id) ON DELETE CASCADE;


--
-- Name: usuarios usuarios_id_zona_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_id_zona_fkey FOREIGN KEY (id_zona) REFERENCES public.zonas_trabajo(id) ON DELETE SET NULL;


--
-- Name: usuarios usuarios_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: usuario
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

